body {
    font-size: ;
    color: rgb(255, 255, 255);
    background-color: #e7ff92;
    font-family: 'Oxygen', sans-serif;
  }
/** HEADER **/
#header-nav {
    background-color: #cd81ff;
    border-radius: 0;
    border: 0;
  } 
  .navbar-brand {
    padding-top: 25px;
  } 
  .navbar-brand h1 { 
    font-family: 'Lora', serif;
    color: #000000;
    font-size: 1.8em;
    text-transform: ;
    font-weight: bold;
    text-shadow: ;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  } 
  navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #000000;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }
  #nav-list { 
    font-family: 'Lora', serif;
    background-color: #86ff8c;
    font-size: 1.2em;
  }
  hr {
    border-color: #000000;
  }

  /********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../images/restaurant-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {

}

#collapsable-nav a { /* Collapsed nav menu text */
  font-size: 1.2em;
} 

.menu-title {
  font-family: 'Lora', serif;
  color: #000000;
  text-align: center;
}
h3 {
  text-align: center;
  color: #000000;
}

.item {
background-color: #faa46b;
position: relative;
top: 0;
margin: 15px;
padding: 25px;
border: 1px solid #000;
} 
.item p {
  color: #000000;
}

#nav-item {
  color: #000000;
} 
#nav-list p:hover {
  color: #be0404fb;
}